.card {
  border-radius: 10px;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  box-sizing: border-box;
  flex: 1 1 200px;
  flex-wrap: wrap;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 150px;
  gap: 5px;
  width: 100%;
}

.wishlist {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
}

.subtitle {
  font-size: 0.7rem;
}

.paragraph {
  font-size: 0.9rem;
}

.rating {
  font-size: 0.9rem;
}

.wish {
  font-size: 0.9rem;
}

@media screen and (max-width: 510px) {
  .card {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 820px) {
  .card {
    flex-wrap: wrap;
    flex: 1 1 350px;
  }

  .view {
    width: 100%;
    height: 100%;
  }
}
