.card {
  max-width: 500px;
  max-height: 500px;
  border-radius: 10px;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  box-sizing: border-box;

  flex: 1 1;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 5px;
}

.image {
  min-width: 150px;
}

.wishlist {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.font-size-title {
  font-size: 1.5rem;
}

.font-size-subtitle {
  font-size: 1rem;
}

.font-size-paragraph {
  font-size: 0.9rem;
}

@media screen and (max-width: 500px) {
  .card {
    flex-wrap: wrap;
  }
}
