.content {
  margin-top: 60px;
  padding: 20px 20%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.input {
  padding-left: 15px;
  justify-content: space-between !important;
}

.search {
  width: 100% !important;
}

.loading {
  margin-left: 20px;
}

@media screen and (max-width: 510px) {
  .content {
    padding: 10px;
  }

  .input {
    padding: 10px;
  }
}

@media screen and (max-width: 820px) {
  .content {
    padding: 10px;
  }

  .input {
    padding: 10px;
  }
}
